/*------- Firebase Login / Register -------*/

input[type=text], input[type=password], textarea {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #dddddd;
    color: #cccccc;
    border-radius: 4px; /* rounded corners */

    /* Avoid input and textarea getting pushed outside of div from padding */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /* Avoid input and textarea getting pushed outside of div from padding */
}

/*--- Logout ---*/

#logoutContainer {
    float:right;
    position:relative;
    display: none;
    font-size:12px;
}

#userName {
    float:left;
    position:relative;
    font-weight:bold;
    font-size:12px;
    padding-top: 2px;
    padding-right: 10px;
    color:#777777;
}

#logoutButton:hover span{
    color:#333333;
}

/*--- Login / Register ---*/


#loginContainer {
    float: left;
    position:relative;
    display: block;
    font-size:12px;
}

#registerContainer {
    float: right;
    position:relative;
    display: block;
    font-size:12px;
}

/* Login Button */
#loginButton, #registerButton, #logoutButton { 
    float:right;
    position: relative;;
    cursor:pointer;
    text-decoration: none;
}

/* Login Button Text */
#loginButton span, #registerButton span, #logoutButton span {
    color:#777777;
    font-size:14px; 
    font-weight:bold; 
    /* text-shadow:1px 1px #fff; */
    display:block;
    
}

#registerButton span {
    padding-left: 0px;
}

#loginButton:hover span, #registerButton:hover span{
    color:#646464;
}

/* Login Box */
#loginBox, #registerBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* for IE */
    box-shadow: 0 0 0 1000px rgba(0,0,0,.8);
    /* for all other browsers */
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);
    display:none;
    z-index:10;
}

/* Login / Register Form */
#loginForm, #registerForm {
    width:248px; 
    border:1px solid #222222;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    background:#888888;
    padding:6px;
}

#loginForm fieldset, #registerForm fieldset {
    margin: 2px;
    display: block;
}

fieldset.body {
    background: #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px 13px;
    margin: 0;
}

.body label {
    display: block;
    float: left;
}

#loginForm .body fieldset label, #registerForm .body fieldset label {
    display: block;
    float: none;
    margin: 5px;
}

/* Default Input */
#loginForm, #registerForm {
    width: 100%;
    font-weight: bold;
}

/* Sign In / Register Button */
#loginForm #login, #registerForm #register {
    width: auto;
    text-align: center;
}

input:focus {
    outline: none;
}

/*------- Firebase Login / Register End -------*/
