
/********** Main Structure **********/

body{
    /* font-family: 400 15 px 'Source Sans Pro', sans-serif; */
    line-height: 1.8;
    text-align: left;
    background: url("../images/background.gif") no-repeat center center;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.navbar .navbar-dark .bg-dark {
  color: #0000;
}

#mainWrapper {
  background-color:white;
/* background-color: rgb(0, 0, 0, .7); */
}

.container {
  text-align: center;
  overflow: hidden;
}

.jumbotron { 
  font-family: 'Source Sans Pro', sans-serif; 
  padding: 12px;
}

h2 {
  text-align: center;
  font-size: .7em;
  text-transform: uppercase;
  color:#cc0000;
  letter-spacing: 3px;
  /* color: #303030; */
  font-weight: 600;
}

h4 {
  font-size: 14px;
  color:#ffffff;
  letter-spacing: 1px;
  /* color: #303030; */
  font-weight: 400;
}


.yodaquo-text-body {
  /* color:#f9f9f9; */
  font-size: 14px !important;
  letter-spacing: 1px;
}

.red {
  /* color: #8e44ad; */
color: #cc0000;
}

img {
  vertical-align: middle;
}

/* remove rounding from cards, buttons, jumbotron and inputs */
.card, .btn, .form-control,.navbar .navbar-dark .bg-dark,.jumbotron { border-radius: 0; }
/********** Main Structure End **********/



/*********** MAKE YOUR OWN QUOTE/ QUOTE OF THE DAY  ************/
/***********               BUTTON BAR               ************/


#buttonbar {
  width : 50%;
  margin-left : auto;
  margin-right : auto;
  height: 33px;
}

ul#list-nav {
  list-style : none;
  padding : 0;
  width : 100%;
  height : 33px;
  background-color : #656565;
  font-family:'Source Sans Pro', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-top : 0;
  font-style:normal;
  font-size:14px;
  border-radius:2em;
  overflow:hidden;
}

ul#list-nav li {
  display : inline;
  width : 50%;
  height : 33px;;
  background-color : #6c34ab;
}

ul#list-nav li a {
  text-decoration : none;
  padding : 4px 0;
  width : 50%;
  background : #b68a#6c34ab;
  color : #eee;
  float : left;
  text-align : center;
}

ul#list-nav li a:hover {
  background : #b68ae8;
  color : #fff;
  font-family:'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

ul#list-nav li a:active {
  background : #b68ae8;
  color : #fff;
  font-family:'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}


/********** Favorites **********/

#nofavoritesContainer {
  display: block;
}

#favoritesContainer {
  display: none;
  text-align: left;
}

.thAthor {
  min-width: 150px;
}
/********** Favorites End **********/


/********** Categories **********/

/* .categoriesButton { */
  .categoriesButton {
    
    box-sizing: border-box;
    appearance: none;
    background-color:transparent;
    border: 2px solid #656565;
    border-radius: 0.12em;
    color: #9a4ef1;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1;
    margin:0 0.3em 0.3em 0;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 900;
    border-radius: 0;
    border-color: #b68ae8;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
  }
    .categoriesButton:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: #6c34ab;
      z-index: -1;
      transition: width 150ms ease-in-out;
    }
    
  .categoriesButton:hover {
      color: #b68ae8;
  }
  .categoriesButton:after {
        width: 110%;
  }
    
  
  .categoriesButton:hover, .categoriesButton:focus {
      color:#b68ae8;
      background-color:#ffffff;
      outline: 0;
  }
  
  
  /*  
  .categoriesButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}

.categoriesButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}

.categoriesButton:active { 
	position:relative;
	top:1px; 
}
 */
/********** Categories End **********/


/********** Quotes **********/

#quoteCategories{
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  align-items: center;
  align-content: center;
}

#authorQuote, #yodaQuote {
  text-align: left;
}

#quoteBoxes {
  display: table;
  height: 400px;
}

.fullHeight {
  height: 100%;
}

#favoriteButton {
  display: none;
  color: #74c274;
  text-align: center;
}

.box {
  padding: 120px 75px 0px 75px;
  border: 1px solid #84aab8;
  overflow: hidden;
}

#textBox {
  background-color: rgba(0, 0, 0, 0.7);
  color: #c3c4af;
  min-height: 60px;
  z-index: 2;
  padding: 10px;
}

#authorImage, #yodaImage {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

#loginButton, #registerButton {
  text-transform: uppercase;
}

/********** Quotes End **********/


@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}